:root {
    /*--jumbotron-padding-y: 3rem;*/
}

.jumbotron {
    /*padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);*/
    margin-bottom: 0;
    background-color: white;
    max-height: 25rem;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    /*max-width: 40rem;*/
}

.album {
    background-color: #1E2823;
}

.cover {
    max-height: 25rem;
    background-color: #efe8c9;
}

.card {
    border-radius: 2em;
    box-shadow: 2px 2px 2px 2px black;
    background-color: #efe8c9;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center !important;
    color: #343a40;
    background-color: black;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/*NAV*/

.logo {
    margin-left: 0.7em;
}

.navbar {
    padding: 10px;
    /* box-shadow: 0px 2px 20px -4px rgba(0, 0, 0, 0.75); */
    /* border-radius: 5px; */
    background-color: #1E2823;
}

.navbar-brand {
    color: white;
}

.nav-sub {
    display: flex;
    list-style: none;
    font-size: 1.3em;
    margin: 0;
    color: white;
}

.sticky {
    position: fixed;
    top: 0%;
    width: 100%;
}

@media only screen and (max-width:600px) {
    .nav-sub {
        font-size: 0.8em;
        padding: 0;
        border: 0px;
    }
}

.push {
    margin-left: auto;
}

li {
    padding: 0px 20px 0px 20px;
    color: #efe8c9;
    font-size: 1.1rem;
}

a {
    color: #efe8c9;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.card-thing {
    padding-top: 35px;
    padding-bottom: 35px;
}

.bottom {
    padding-bottom: 0px;
}

.card-img-top {
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    /* margin-top: -60px; */
    /* border-radius: 2em; */
    /* width: 95%; */
    /* box-shadow: 2px 10px 29px -10px rgba(0, 0, 0, 0.75); */
    /*margin-right: 10px;*/
    /* margin-left: 8.3px; */
}

.card-text {
    color: #1E2823;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1em;
}

.card-body {
    width: 100% !important;
}

.display-flex {
    display: flex;
}

.full_width {
    max-width: 100% !important;
    width: 100%;
}

.category-heading {
    margin-bottom: 1.4rem !important;
    background-color: #1E2823;
    width: 100%;
    border-radius: 15px;
}

.category-text {
    /* align-self: center; */
    color: #efe8c9;
    padding: 0 !important;
    text-align: center;
    font-size: 2rem;
}

.light-text {
    color: #efe8c9;
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
}

.top-padding {
    padding-top: 2em;
}